:root {
    --first-color: black;
    --second-color: rgb(179, 176, 176);
    --third-color: rgb(156, 7, 156);
    --fourth-color: white;
}
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    padding: 11% 0;
    margin: 0 30%;
    background-color: var(--fourth-color);
}
 
#main-page {
    background-color: var(--fourth-color);
    padding: 3%;
    height: 80%;
}
 
.h1 {
    text-align: center;
    color: var(--first-color);
    margin-bottom: 40px;
    font-size: 35px;
}
 
.question-asked {
    text-align: left;
    color: var(--first-color);
    margin-bottom: 50px;
}
 
#intro {
    margin: 20px;
    text-align: center;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--third-color);
}
 
#begin-btn-box {
    text-align: center;
    padding: auto;
    margin: 3em 0 3em 0;
}
 
.begin-btn,
#high-score {
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    padding: 0.25em 0.75em;
    cursor: pointer;
    background-color: var(--third-color);
    color: var(--fourth-color);
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    min-width: 10ch;
    min-height: 44px;
    text-align: center;
    line-height: 1.1;
}
 
.begin-btn:hover,
#high-score:hover
 {
    opacity: 0.75;
    transition: 150ms ease-in-out;
}
 
#list-box {
    display: none;
    list-style: none;
    counter-reset: olCounter;
}
 
.option-list-A,
.option-list-B,
.option-list-C,
.option-list-D {
    margin: 10px 0;
    counter-increment: olCounter;
}
 
.option-list-A,
.option-list-B,
.option-list-C,
.option-list-D,
.option-A::before,
.option-B::before,
.option-C::before,
.option-D::before {
    content: counter(olCounter) ". ";
}
 
.option-A,
.option-B,
.option-C,
.option-D {
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 0.25em 0.75em;
    cursor: pointer;
    background-color: var(--third-color);
    color: var(--fourth-color);
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    min-width: 30ch;
    min-height: 44px;
    text-align: left;
    line-height: 1.1;
}
 
.option-A:hover,
.option-B:hover,
.option-C:hover,
.option-D:hover {
    opacity: 0.75;
    transition: 150ms ease-in-out;
}
 
#timer-box{
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px;
}
 
#timer {
    font-size: 2.5em;
    font-weight: bolder;
    color: var(--third-color);
}
 
#high-score-box {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 15px;
}
 
#q-status-box {
    display: none;
    width: 100%;
    margin-top: 5em;
    text-align: left;
}
 
#q-break {
    color: var(--second-color);
    opacity: 0.75;
}
 
#q-status {
    color: var(--second-color);
    font-size: 2.5em;
    font-style: italic;
    opacity: 0.75;
}
 
@media screen and (max-width: 980px) {
   
body {
    padding: 0;
    margin: 0;
}
 
#intro{
    font-size: 20px;
}  
 
.h1 {
    margin: 10%;
    font-size: 25px;
}
 
.option-list-A,
.option-list-B,
.option-list-C,
.option-list-D {
    text-align: center;
}
 
#timer {
    font-size: 2em;
}
}
